* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

////////////////////////////////////////////////////

.full-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

////////////////////////////////////////////////////

.container {
    width: 100%;
    max-width: 1100px;
}

////////////////////////////////////////////////////

body {
    h1 {
        color: red;
    }
}


header {
    background-color: #82d7ad;

    
    
    .navbar {
        display: flex;
        justify-content: space-between;

        .icon-main {
            img {
                width: 5em;
            }
        }

        .nav-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 3em;
                
            }
            a {
                text-decoration: none;
                margin-right: 15px; 
                
            }
        }
    }
}

.main-content {
    flex-direction: column;


    .banner {
        margin: 10px auto; //REVISAR, NO SE ESTÁ CENTRANDO SIN ESTO
    }


    .block-entradas {
        margin: 10px auto; //REVISAR, NO SE ESTÁ CENTRANDO SIN ESTO

        .entrada {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            

            .entrada-titulo {
                display: flex;
                align-items: center;
                font-size: 1.8em; //poner font-size aqui influye en el tamaño de la img
                margin-bottom: 10px;
                img {
                    width: 5em;
                    border-radius: 2em;
                    margin-right: 15px;
                }
                div {
                    background-color: #82d7ad;
                    padding: 10px;
                    border-radius: 15px;
                    //poner font-size aqui NO influye en el tamaño de la img -- PROBAR PARA VER LA DIFERENCIA
                }
            }

            .entrada-texto {
                font-size: 1.2em;
                background-color: #82d7ad;
                    padding: 10px;
                    border-radius: 15px;
            }
 
        }
    }
}

footer {
    background: url("media/footer6.jpg") #ccc no-repeat center center;
    background-size: cover;
    min-height: 100%;
    height: 400px;

    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contacto {
            background-color: #fdd10a;

            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 14px 75px;
            font-size: 1.4rem;
            border-radius: 12px;
            margin-bottom: 35px;
            a {
                text-decoration: none;
                color: #834b16;
            }
            a:hover {
                color: #bc6c21;
            }
        }
        .social {
            display: flex;
            justify-content: center;
            a {
                font-size: 35px;
                margin-right: 46px;
            }
            a:last-of-type {
                margin-right: 0;
            }
            a:hover {
                transform: scale(1.2);
            }
        }

        .links {
            margin-top:35px;
            display: flex;
            justify-content: center;
            ul {
                li {
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: bold;
                    list-style-type: none;
                    span{
                        color: #fdd10a;
                    }
                }
            }
        }
    }
}
