@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1100px;
}

/* ANCHO */
::-webkit-scrollbar {
  width: 8px;
}

/* TRACK  */
::-webkit-scrollbar-track {
  background: #7cdfff;
  border-radius: 10px;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: #bc9c10;
  border-radius: 10px;
}

/* HANDLE HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #7c680c;
}

header {
  background-color: #82d7ad;
}
header .navbar {
  display: flex;
  justify-content: space-between;
}
header .navbar .icon-main img {
  width: 5em;
}
header .navbar .nav-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .navbar .nav-links img {
  width: 3em;
}
header .navbar .nav-links a {
  text-decoration: none;
  margin-right: 15px;
}
header .navbar .nav-links a:hover {
  transform: scale(1.3);
}
header .navbar .nav-links a:last-of-type {
  transform: none;
  justify-self: flex-end;
}
header .navbar .nav-links .sign-up {
  color: #834b16;
  background-color: #fdd10a;
  border: 2px solid #bc9c10;
  border-radius: 2.3em;
  font-family: "Arvo", sans-serif;
  padding: 6px;
  font-size: 1em;
}
header .navbar .nav-links .sign-up:hover {
  background-color: marron-palido;
  color: #ffc822;
  transform: none;
}
header .navbar .hamburger {
  display: none;
}

.main-content {
  background-image: url(media/footer1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .content {
  display: flex;
  flex-direction: column;
}
.main-content .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Arvo", serif;
  font-size: 1.8vw;
  background-image: url(./media/hero-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.main-content .banner h1 {
  color: #834b16;
  text-align: center;
}
.main-content .banner img {
  width: 28%;
  height: 90%;
}
.main-content .block-entradas {
  margin-bottom: 20px;
  font-family: "Animal";
}
.main-content .block-entradas .entrada {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
}
.main-content .block-entradas .entrada .entrada-titulo {
  display: flex;
  font-family: "Arvo", serif;
  align-items: center;
  font-size: 1.8em;
  margin-bottom: 10px;
}
.main-content .block-entradas .entrada .entrada-titulo .titulo {
  border: 4px solid #fdd10a;
  background-color: #7cdfff;
  color: #834b16;
  font-weight: 700;
}
.main-content .block-entradas .entrada .entrada-titulo img {
  width: 5em;
  margin-bottom: 4 px;
  border-radius: 2.3em;
  border: 4px solid #fdd10a;
  margin-right: 15px;
}
.main-content .block-entradas .entrada .entrada-titulo div {
  padding: 10px;
  border-radius: 15px;
}
.main-content .block-entradas .entrada .entrada-texto {
  font-size: 1.2em;
  font-family: "Arvo", serif;
  color: #834b16;
  background-color: #fdf09f;
  border: 2px solid #bc9c10;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.59);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.main-content .block-entradas .entrada .entrada-texto p {
  text-align: justify;
}

footer {
  background: url("media/tomnook2.png") #ccc no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3%;
  position: absolute;
  bottom: 0;
}
footer .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .contenido .contacto-general {
  margin: 0 auto;
}
footer .contenido .contacto-general .contacto {
  position: relative;
  font-family: "Arvo", serif;
  background-color: #fdd10a;
  justify-content: center;
  align-items: center;
  padding: 14px 75px;
  font-size: 1.4rem;
  border-radius: 12px;
  margin-bottom: 35px;
}
footer .contenido .contacto-general .contacto p {
  font-family: "Arvo", serif;
}
footer .contenido .contacto-general .contacto a {
  text-decoration: none;
  color: #834b16;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
}
footer .contenido .contacto-general .contacto a:hover {
  color: #bc6c21;
}
footer .contenido .social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
}
footer .contenido .social img {
  width: 100%;
  height: 4vh;
}
footer .contenido .social a {
  font-size: 35px;
  margin-right: 46px;
}
footer .contenido .social a:last-of-type {
  margin-right: 0;
}
footer .contenido .social a:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7254901961));
}
footer .contenido .links {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  font-family: "Arvo", serif;
}
footer .contenido .links ul li {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  list-style-type: none;
}
footer .contenido .links ul li span {
  color: #fdd10a;
}
footer .contenido .links ul li span:hover {
  color: #ffe676;
}

.contacto-full {
  background-color: #e6d58f;
  background-image: url(media/footer1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contacto-full .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
  font-family: "Arvo", serif;
}
.contacto-full .contacto .who {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contacto-full .contacto .who h1 {
  margin-bottom: 15px;
  font-size: 3.5vw;
  text-align: center;
  color: #834b16;
}
.contacto-full .contacto .who .who-content {
  display: flex;
  padding: 10px;
  background-image: url(media/contact-who.jpg);
  border-radius: 15px;
  border: 2px solid #bd9d0f;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 55px;
  box-shadow: 2px 6px 11px 3px rgba(0, 0, 0, 0.65);
  animation: fadeInAnimation ease 3s;
}
.contacto-full .contacto .who .who-content img {
  border: 4px solid #bd9d0f;
  border-radius: 15px;
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
}
.contacto-full .contacto .who .who-content .who-text {
  font-family: "Arvo", sans-serif;
  color: #834b16;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-full .contacto .who .who-content .who-text h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.6em;
  text-decoration: underline;
}
.contacto-full .contacto .who .who-content .who-text p {
  text-align: justify;
  padding: 15px;
  color: #834b16;
  background-color: #fdd10a;
  border: 4px solid #bd9d0f;
  width: 85%;
  font-weight: 700;
  border-radius: 0px 15px 15px 15px;
}
.contacto-full .contacto .form-contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-full .contacto .form-contact .form-build {
  width: 100%;
}
.contacto-full .contacto .form-contact .form-build form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-full .contacto .form-contact .form-build form input {
  margin-bottom: 14px;
}
.contacto-full .contacto .form-contact .form-build form #politica-error,
.contacto-full .contacto .form-contact .form-build form #nombre-error,
.contacto-full .contacto .form-contact .form-build form #correo-error,
.contacto-full .contacto .form-contact .form-build form #mensaje-error {
  color: red;
  font-weight: 700;
}
.contacto-full .contacto .form-contact .form-build form .inputs {
  width: 65%;
  height: 40px;
  color: #834b16;
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  font-size: 1em;
  background-color: #e6d58f;
  padding: 15px;
}
.contacto-full .contacto .form-contact .form-build form .inputs:focus {
  outline: none !important;
}
.contacto-full .contacto .form-contact .form-build form textarea {
  width: 65%;
  height: 100px;
  font-size: 1em;
  color: #834b16;
  border: 4px solid #bd9d0f;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  background-color: #e6d58f;
  padding: 15px;
}
.contacto-full .contacto .form-contact .form-build form textarea:focus {
  outline: none !important;
}
.contacto-full .contacto .form-contact .form-build form .labels {
  color: #834b16;
  background-color: #fdd10a;
  padding: 6px;
  border-radius: 15px;
  border: 4px solid #bd9d0f;
  margin-top: 15px;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}
.contacto-full .contacto .form-contact .form-build form #sub {
  background-color: #fdd10a;
  border-radius: 15px;
  font-size: 1em;
  color: #834b16;
  border: 4px solid #bd9d0f;
  height: 40px;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  width: 25%;
}
.contacto-full .contacto .form-contact .form-build form #sub:hover {
  background-color: #9e8208;
  color: #ffc822;
  cursor: pointer;
}
.contacto-full .contacto .form-contact .form-build form .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 12px solid #bd9d0f;
}
.contacto-full .contacto .form-contact h1 {
  margin-bottom: 15px;
  font-size: 3.5vw;
  text-align: center;
  color: #834b16;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.games-full {
  background-color: #e6d58f;
  background-image: url(media/bg-games.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.games-full .games-content h1 {
  font-family: "Arvo", sans-serif;
  color: #834b16;
  text-align: center;
  margin: 30px auto;
  text-decoration: underline;
}
.games-full .games-content .games-pag {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.games-full .games-content .games-pag .games-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 10px;
}
.games-full .games-content .games-pag .games-list select {
  display: none;
}
.games-full .games-content .games-pag .games-list .img-container img:hover {
  transform: translateY(-15px);
  cursor: pointer;
}
.games-full .games-content .games-pag .games-list .img-container:not(:last-child) {
  margin-bottom: 10%;
}
.games-full .games-content .games-pag .games-list .hr {
  width: 1px;
  border: 1px solid transparent;
  height: 50px;
  background-color: transparent;
  margin: 0px 75px 10px;
  align-items: center;
}
.games-full .games-content .games-pag .games-list .hr:last-of-type {
  display: none;
}
.games-full .games-content .games-pag .games-list img {
  width: 100%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.games-full .games-content .games-pag .block-game-description {
  background-color: #fdf09f;
  border: 2px solid #bc9c10;
  width: 70%;
  padding: 2%;
  border-radius: 10px;
  font-family: "Arvo", serif;
  color: #834b16;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.games-full .games-content .games-pag .block-game-description .game-title-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.games-full .games-content .games-pag .block-game-description .game-trailer-title-row {
  padding: 5px 15px;
}
.games-full .games-content .games-pag .block-game-description .game-trailer-row {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.games-full .games-content .games-pag .block-game-description .game-trailer-row video {
  width: 100%;
  height: 100%;
  max-width: 530px;
}
.games-full .games-content .games-pag .block-game-description .game-trailer-row video source {
  width: 100%;
}
.games-full .games-content .games-pag .block-game-description .game-arg-row {
  padding: 15px;
  background-color: #9dffb0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  text-align: justify;
}
.games-full .games-content .games-pag .block-game-description .game-arg-row:last-of-type {
  border: none;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row {
  padding: 15px 0;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row #tabs {
  position: relative;
  text-align: justify;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row span.diana {
  position: fixed;
  font-size: 2em;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row .diana + a {
  display: block;
  float: left;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #1e8449;
  margin-bottom: -1px;
  border-radius: 8px 8px 0 0;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row .diana:target + a {
  background-color: #c8d83c;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_1,
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_2,
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_3 {
  position: absolute;
  top: 31px;
  left: 0;
  border: none;
  clear: both;
  overflow: hidden;
  border-radius: 3px;
  background-color: #9dffb0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_1 > div > ul,
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_2 > div > ul,
.games-full .games-content .games-pag .block-game-description .game-extras-row #pnl_3 > div > ul {
  /* opacity: 0; */
  transition: all 0.1s ease;
  padding: 30px;
  display: none;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row #uno:target ~ #pnl_1,
.games-full .games-content .games-pag .block-game-description .game-extras-row #dos:target ~ #pnl_2,
.games-full .games-content .games-pag .block-game-description .game-extras-row #tres:target ~ #pnl_3 {
  position: static;
  border: 1px solid #ddd;
}
.games-full .games-content .games-pag .block-game-description .game-extras-row #uno:target ~ #pnl_1 > div > ul,
.games-full .games-content .games-pag .block-game-description .game-extras-row #dos:target ~ #pnl_2 > div > ul,
.games-full .games-content .games-pag .block-game-description .game-extras-row #tres:target ~ #pnl_3 > div > ul {
  /* opacity: 1; */
  transition: all 1s ease;
  display: block;
}

.login {
  background-image: url(media/footer2.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.login .log {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arvo", sans-serif;
}
.login .log h1 {
  font-family: "Arvo", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #834b16;
  text-decoration: underline;
}
.login .log p {
  font-size: 1.5em;
  font-family: "Arvo", sans-serif;
}
.login .log a {
  font-size: 1.5em;
  margin-bottom: 25px;
}
.login .log .log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .log .log-form input {
  margin-bottom: 25px;
  color: #834b16;
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  font-size: 1em;
  margin-bottom: 40px;
  background-color: #e6d58f;
  padding: 4px;
  width: 100%;
}
.login .log .log-form input:last-of-type {
  width: 55%;
}
.login .log .log-form input:last-of-type:hover {
  background-color: #9e8208;
  color: #ffc822;
  cursor: pointer;
}
.login .log .log-form input:focus {
  outline: none !important;
}
.login .log .log-form #log-name-error {
  color: rgb(216, 47, 47);
  margin-bottom: 15px;
}
.login .log .log-form #log-pass-error {
  color: rgb(216, 47, 47);
  margin-bottom: 15px;
}
.login .log .log-form label {
  color: #834b16;
  font-weight: 700;
}

.register {
  background-image: url(media/footer2.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.register .reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arvo", sans-serif;
}
.register .reg h1 {
  font-family: "Arvo", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #834b16;
  text-decoration: underline;
}
.register .reg p {
  font-size: 1.5em;
  font-family: "Arvo", sans-serif;
}
.register .reg a {
  font-size: 1.5em;
  margin-bottom: 25px;
}
.register .reg .reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .reg .reg-form input {
  margin-bottom: 25px;
  color: #834b16;
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  font-size: 1em;
  margin-bottom: 40px;
  background-color: #e6d58f;
  padding: 4px;
  width: 100%;
}
.register .reg .reg-form input:last-of-type {
  width: 55%;
}
.register .reg .reg-form input:last-of-type:hover {
  background-color: #9e8208;
  color: #ffc822;
  cursor: pointer;
}
.register .reg .reg-form input:focus {
  outline: none !important;
}
.register .reg .reg-form #userName-error {
  color: rgb(216, 47, 47);
  margin-bottom: 15px;
}
.register .reg .reg-form #userPass-error {
  color: rgb(216, 47, 47);
  margin-bottom: 15px;
}
.register .reg .reg-form #userMail-error {
  color: rgb(216, 47, 47);
  margin-bottom: 15px;
}
.register .reg .reg-form label {
  color: #834b16;
  font-weight: 700;
}

.user-full {
  flex-direction: column;
  background-image: url(media/bg_user_interface.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user-full .user-banner {
  text-align: center;
  background-image: url(./media/banner-user-gif.gif);
  background-size: cover;
  background-position: center center;
  --mask: linear-gradient(#000 0 0) top/100% calc(100% - 30px) no-repeat,
      radial-gradient(circle farthest-side, #000 98%, #0000) bottom/55.50px 60px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.user-full .user-banner .user-banner-text {
  font-family: "Arvo", sans-serif;
  margin: 10%;
}
.user-full .user-banner .user-banner-text h1 {
  font-size: 2.5em;
  color: #834b16;
}
.user-full .user-banner .user-banner-text h1 span {
  color: #fff563;
}
.user-full .user-banner .user-banner-text p {
  font-size: 1em;
  color: white;
}
.user-full .user-banner .user-banner-text p a {
  color: #9dffb0;
}
.user-full .user-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-full .user-content .user-options-block {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-full .user-content .user-options-block .user-option {
  width: 200px;
  height: auto;
  background-color: #1e8449;
  margin: 10px;
  border-radius: 2%;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.user-full .user-content .user-options-block .user-option a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.user-full .user-content .user-options-block .user-option img {
  max-width: 50%;
}
.user-full .user-content .user-options-block .user-option label {
  font-size: 1.2em;
  color: white;
}
.user-full .user-content .user-options-block .user-option:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7254901961));
}
.user-full .user-content .user-info-block {
  padding: 2%;
}
.user-full .user-content .user-info-block .user-info {
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #fffa95;
  background-color: #fffa95;
  padding: 10px;
  font-family: "Arvo", sans-serif;
  color: #834b16;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin-bottom: 10px;
}
.user-full .user-content .user-info-block .user-info ol {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}
.user-full .user-content .user-info-block .user-info ol li {
  width: 33.333333333%;
  font-size: 1em;
  padding: 2%;
}
.user-full .user-content .user-info-block .user-info ol li .user-info-title {
  font-size: 1.2em;
  color: #834b16;
}
.user-full .user-content .user-info-block .user-info ol li .user-info-desc {
  color: black;
  padding-left: 2%;
}
.user-full .user-content .user-info-block .user-info form {
  display: flex;
  flex-direction: column;
}
.user-full .user-content .user-info-block .user-info form input {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  font-family: "Arvo", sans-serif;
}
.user-full .user-content .user-info-block .user-info form input[type=submit] {
  color: #834b16;
  align-self: flex-end;
  cursor: pointer;
}
.user-full .user-content .user-info-block .popup {
  padding: 15px;
  background-color: #f6c682;
  display: none;
  position: absolute;
  top: 40%;
  right: 25%;
  left: 25%;
  border-radius: 20px;
  font-family: "Arvo", sans-serif;
  color: black;
  font-size: 1em;
}
.user-full .user-content .user-info-block .popup .modal-contenido {
  display: flex;
  flex-direction: column;
  font-family: "Arvo", sans-serif;
}
.user-full .user-content .user-info-block .popup .modal-contenido .detail-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-full .user-content .user-info-block .popup .modal-contenido .detail-title a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.user-full .user-content .user-info-block .user-orders-table th,
.user-full .user-content .user-info-block .user-orders-table tr,
.user-full .user-content .user-info-block .user-orders-table td,
.user-full .user-content .user-info-block .user-orders-table table {
  border-collapse: collapse;
  padding: 20px;
}
.user-full .user-content .user-info-block .user-orders-table td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-full .user-content .user-info-block .user-orders-table tr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}
.user-full .user-content .user-info-block .user-orders-table table {
  width: 100%;
}
.user-full .user-content .user-info-block .user-orders-table table th {
  text-align: start;
}
.user-full .user-content .user-info-block .user-orders-table table td:not(:last-child) {
  width: 30%;
}
.user-full .user-content .user-info-block .user-orders-table table img {
  width: 50%;
  cursor: pointer;
}

.tienda {
  background-image: url(media/tienda.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tienda #producto {
  font-family: "Arvo", sans-serif;
  color: #834b16;
  text-decoration: underline;
}
.tienda .tienda-content {
  margin-top: 25px;
}
.tienda .tienda-content .barra_navegacion {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tienda .tienda-content .barra_navegacion #barra_busqueda {
  width: 40%;
  height: 30px;
  height: 3em;
  font-size: 1em;
  align-items: center;
  color: #834b16;
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  background-color: #e6d58f;
  padding: 6px;
}
.tienda .tienda-content .barra_navegacion #barra_busqueda:focus {
  outline: none !important;
}
.tienda .tienda-content .tienda-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tienda .tienda-content .tienda-products .caja-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  font-family: "Arvo", sans-serif;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto {
  display: flex;
  margin-top: 15px;
  background-color: #9dffb0;
  padding: 5px;
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  justify-content: space-between;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto h3 {
  color: rgb(248, 90, 90);
  margin-bottom: 15px;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto p {
  color: rgb(83, 83, 83);
  font-weight: 700;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto p span {
  color: rgb(61, 188, 61);
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto #precio {
  font-size: 1.5em;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto .carrito-imagen {
  margin-top: 5px;
  margin-left: 24px;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto .carrito-imagen img {
  width: 3em;
  height: 3em;
}
.tienda .tienda-content .tienda-products .caja-producto .contenido-texto .carrito-imagen img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.tienda .tienda-content .tienda-products .caja-producto .caja-imagen {
  width: 15em;
  height: 14em;
}
.tienda .tienda-content .tienda-products .caja-producto .caja-imagen #img_producto {
  border: 4px solid #bd9d0f;
  border-radius: 10px;
  width: 14.4em;
  height: 14em;
}

@media screen and (max-width: 1100px) {
  .main-content .block-entradas .entrada {
    align-items: center;
  }
  .main-content .block-entradas .entrada .entrada-titulo {
    width: 90%;
    text-align: center;
  }
  .main-content .block-entradas .entrada .entrada-texto {
    width: 90%;
    overflow: auto;
    height: 12em;
  }
}
@media screen and (max-width: 800px) {
  header .navbar .nav-links {
    background-color: rgba(130, 215, 173, 0.7647058824);
    flex-direction: column;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    width: 20.5%;
    top: 0;
    left: 82.5%;
    bottom: 0;
    z-index: 99;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  header .navbar .nav-links .sign-up {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
  }
  header .navbar .showMenu {
    transform: translateY(0);
  }
  header .navbar .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    font-size: 1.8em;
    color: #834b16;
    border-radius: 15px;
    background-color: #fdd10a;
    border: 2px solid #bc9c10;
    cursor: pointer;
  }
  header .navbar .hamburger .closeIcon {
    display: none;
  }

  .main-content .block-entradas .entrada {
    align-items: center;
  }
  .main-content .block-entradas .entrada .entrada-titulo {
    width: 90%;
    text-align: center;
    flex-direction: column;
  }
  .main-content .block-entradas .entrada .entrada-texto {
    width: 90%;
    overflow: auto;
    height: 15em;
  }

  .contacto-full .contacto .who h1 {
    font-size: 1.7em;
  }
  .contacto-full .contacto .who .who-content {
    width: 100%;
  }
  .contacto-full .contacto .who .who-content .who-text p {
    text-align: center;
    overflow: auto;
    height: 16vh;
  }
  .contacto-full .contacto .form-contact {
    width: 100%;
  }
  .contacto-full .contacto .form-contact h1 {
    font-size: 1.7em;
  }
  .contacto-full .contacto .form-contact .form-build form .inputs {
    width: 85%;
  }
  .contacto-full .contacto .form-contact .form-build form textarea {
    width: 85%;
  }
  .contacto-full .contacto .form-contact .form-build form #sub {
    width: 55%;
  }

  .games-full .games-content .games-pag {
    flex-direction: column;
    margin: 5% auto;
  }
  .games-full .games-content .games-pag .games-list {
    width: auto;
  }
  .games-full .games-content .games-pag .games-list .custom-select {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 0 0 1em rgba(157, 255, 176, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.8);
    background-color: #7dd9f5;
    width: 100%;
  }
  .games-full .games-content .games-pag .games-list .custom-select select {
    font-family: "Arvo", sans-serif;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0.75em 1.5em;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #074153;
    font-size: 1em;
    /* Eliminación de los estilos por defecto de la flecha hacia abajo */
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
  }
  .games-full .games-content .games-pag .games-list .custom-select select::-ms-expand {
    display: none;
  }
  .games-full .games-content .games-pag .games-list .custom-select:after {
    position: absolute;
    top: 1em;
    right: 1em;
    /* Nuevos estilos para la flecha hacia abajo */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.375em solid #0a6682;
    pointer-events: none;
  }
  .games-full .games-content .games-pag .games-list .img-container {
    display: none;
  }
  .games-full .games-content .games-pag .block-game-description {
    width: 100%;
  }
  .games-full .games-content .games-pag .block-game-description .game-extras-row .diana + a {
    font-size: 0.9em;
  }

  .user-full .user-content .user-options-block {
    justify-content: center;
  }
  .user-full .user-content .user-options-block .user-option {
    width: 25%;
  }
  .user-full .user-content .user-options-block .user-option label {
    font-size: 1em;
  }
  .user-full .user-content .user-info-block .user-orders-table {
    font-size: 0.9em;
  }
  .user-full .user-content .user-info-block .user-orders-table table,
.user-full .user-content .user-info-block .user-orders-table th,
.user-full .user-content .user-info-block .user-orders-table td,
.user-full .user-content .user-info-block .user-orders-table tr {
    padding: 5px;
  }
  .user-full .user-content .user-info-block .user-orders-table table td:not(:last-child) {
    width: 25%;
  }
  .user-full .user-content .user-info-block .user-orders-table table td:last-child {
    text-align: center;
  }
  .user-full .user-content .user-info-block .user-orders-table table img {
    width: 25%;
  }
  .user-full .user-content .user-info-block .user-info form ol li {
    width: fit-content;
  }
  .user-full .user-content .user-info-block .popup {
    font-size: 0.8em;
    top: 20%;
  }
  .user-full .user-content .user-info-block .popup .modal-contenido .detail-title a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding: 5px;
    height: 10%;
  }

  footer .contenido .contacto-general .contacto {
    display: flex;
    margin: auto;
    font-size: 0.8em;
  }
  footer .contenido .links {
    margin-top: 0px;
  }
  footer .contenido .links ul li {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  header .navbar .nav-links {
    background-color: rgba(130, 215, 173, 0.7647058824);
    flex-direction: column;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    width: 20.5%;
    top: 0;
    left: 82.5%;
    bottom: 0;
    z-index: 99;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  header .navbar .nav-links .sign-up {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
  }
  header .navbar .showMenu {
    transform: translateY(0);
  }
  header .navbar .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 5px;
    font-size: 1.8em;
    color: #834b16;
    border-radius: 15px;
    background-color: #fdd10a;
    border: 2px solid #bc9c10;
    cursor: pointer;
  }
  header .navbar .hamburger .closeIcon {
    display: none;
  }

  .games-full .games-content .games-pag .block-game-description .game-extras-row .diana + a {
    font-size: 0.7em;
  }

  footer .contenido .contacto-general .contacto {
    display: flex;
    margin: auto;
    font-size: 0.8em;
  }
  footer .contenido .links {
    margin-top: 0px;
  }
  footer .contenido .links ul li {
    font-size: 0.8em;
  }

  .user-full .user-content .user-options-block .user-option label {
    font-size: 0.8em;
  }
  .user-full .user-content .user-info-block .user-orders-table {
    font-size: 0.9em;
  }
  .user-full .user-content .user-info-block .user-orders-table table,
.user-full .user-content .user-info-block .user-orders-table th,
.user-full .user-content .user-info-block .user-orders-table td,
.user-full .user-content .user-info-block .user-orders-table tr {
    padding: 5px;
  }
  .user-full .user-content .user-info-block .user-orders-table table td:not(:last-child) {
    width: 20%;
  }
  .user-full .user-content .user-info-block .user-orders-table table td:last-child {
    text-align: center;
  }
  .user-full .user-content .user-info-block .user-orders-table table img {
    width: 30%;
  }
  .user-full .user-content .user-info-block .popup {
    font-size: 0.8em;
    top: 15%;
  }
  .user-full .user-content .user-info-block .popup .modal-contenido .detail-title h2 {
    font-size: 1em;
  }
  .user-full .user-content .user-info-block .popup .modal-contenido .detail-title a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding: 5px;
    height: 10%;
  }
  .user-full .user-content .user-info-block .popup .modal-contenido .detail {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=styles.css.map */
