* {
    //RESETEAR VALORES POR DEFECTO
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

////////////////////////////////////////////////////
//CONTENEDOR DE PANTALLA COMPLETA
.full-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

////////////////////////////////////////////////////

.container {
    //CONTENIDO INTERNO
    width: 100%;
    max-width: 1100px;
}


////////////////////////////////////////////////////

//SCROLL BAR EDITADA
/* ANCHO */
::-webkit-scrollbar {
    width: 8px;

}

/* TRACK  */
::-webkit-scrollbar-track {
    background: #7CDFFF;
    border-radius: 10px;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
    background: #bc9c10;
    border-radius: 10px;
}

/* HANDLE HOVER */
::-webkit-scrollbar-thumb:hover {
    background: #7c680c;
}

////////////////////////////////////////////////////

body {


    h1 {
        color: red;
    }
}


header {
    background-color: #82d7ad;

    .navbar {
        display: flex;
        justify-content: space-between;

        .icon-main {
            img {
                width: 5em;
            }
        }

        .nav-links {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 3em;
            }

            a {
                text-decoration: none;
                margin-right: 15px;
            }

            a:hover {
                transform: scale(1.3);
            }
        }
    }
}

.main-content {
    background-image: url(media/footer1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-family: 'Arvo', serif;
        font-size: 1.8vW;
        background-image: url(./media/hero-bg-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        h1 {
            color: #846323;
            text-align: center;
        }

        img {
            width: 28%;
            height: 90%;
        }
    }


    .block-entradas {
        //margin: 10px auto; //REVISAR, NO SE ESTÁ CENTRANDO SIN ESTO
        margin-bottom: 20px;
        font-family: 'Animal';

        .entrada {
            margin: 60px 0;
            display: flex;
            flex-direction: column;


            .entrada-titulo {
                display: flex;
                font-family: 'Arvo', serif;
                align-items: center;
                font-size: 1.8em; //poner font-size aqui influye en el tamaño de la img
                margin-bottom: 10px;

                .titulo {
                    border: 4px solid #fdd10a;
                    background-color: #7CDFFF;
                    color: #834B16;
                    font-weight: 700;
                }

                img {
                    width: 5em;
                    margin-bottom: 4 px;
                    border-radius: 2.3em;
                    border: 4px solid #fdd10a;
                    margin-right: 15px;
                }

                div {
                    padding: 10px;
                    border-radius: 15px;
                    //poner font-size aqui NO influye en el tamaño de la img -- PROBAR PARA VER LA DIFERENCIA
                }

            }

            .entrada-texto {
                font-size: 1.2em;
                font-family: 'Arvo', serif;
                color: #834b16;
                background-color: #fdd10a;
                border: 2px solid #bc9c10;
                box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.59);
                padding: 10px;
                border-radius: 15px;

                p {
                    text-align: justify;
                }
            }

        }
    }
}


//FOOTER 
footer {
    background: url("media/tomnook.jpg") #ccc no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    height: 400px;

    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contacto-general {
            margin: 0 auto;

            .contacto {
                position: relative;
                font-family: 'Arvo', serif;
                background-color: #fdd10a;
                justify-content: center;
                align-items: center;

                padding: 14px 75px;
                font-size: 1.4rem;
                border-radius: 12px;
                margin-bottom: 35px;

                a {
                    text-decoration: none;
                    color: #834b16;
                }

                a:hover {
                    color: #bc6c21;
                }
            }

        }

        .social {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 12px;

            img {
                width: 100%;
                height: 4vh;
            }

            a {
                font-size: 35px;
                margin-right: 46px;
            }

            a:last-of-type {
                margin-right: 0;
            }

            a:hover {
                transform: scale(1.2);
                filter: drop-shadow(0px 0px 2px #000000b9);
            }

        }

        .links {
            margin-top: 35px;
            display: flex;
            justify-content: center;
            font-family: 'Arvo', serif;

            ul {
                li {
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: bold;
                    list-style-type: none;

                    span {

                        color: #fdd10a;
                    }

                    span:hover {
                        color: #ffe676;
                    }
                }
            }
        }
    }
}

//PAGINA CONTACTO 

.contacto-full {
    background-color: #e6d58f;
    background-image: url(media/ContactoBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .contacto {
        display: flex;
        flex-direction: row;
        padding: 15px;
        font-family: 'Arvo', serif;

        .who {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;


            h1 {
                margin-bottom: 15px;
                font-size: 3.5vw;
                text-align: center;
                color: #834b16;
            }

            .who-content {
                display: flex;
                padding: 7px;
                background-image: url(media/contact-who.jpg);
                border-radius: 15px;
                border: 2px solid #bd9d0f;
                flex-direction: column;
                align-items: center;
                margin-bottom: 15px;
                box-shadow: 2px 6px 11px 3px rgba(0, 0, 0, 0.65);
                animation: fadeInAnimation ease 3s;

                img {
                    border: 4px solid #bd9d0f;
                    border-radius: 15px;
                }

                .who-text {

                    font-family: 'Arvo', sans-serif;
                    color: #834b16;
                    

                    h3 {
                        text-align: center;
                        margin-bottom: 8px;
                        font-size: 1.6em;
                        text-decoration: underline;
                    }

                    p {

                        text-align: justify;
                        padding: 15px;
                        color: #834b16;
                        background-color: #fdd10a;
                        border: 4px solid #bd9d0f;
                       
                        font-weight: 700;
                        border-radius: 0px 15px 15px 15px;
                    }

                }
            }
        }

        .form-contact {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                margin-bottom: 15px;
                font-size: 3.5vw;
                text-align: center;
                color: #834b16;
            }
        }
    }
}

//ANIMACION PAGINA CONTACTO 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


//PAGINA JUEGOS

.games-content {

    h1 {
        color: #846323;
        text-align: center;
        margin: 30px auto;
    }

    .games-pag {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    
        .games-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid black;
            width: 20%;
            padding: 10px;
            .img-container {
                //width: 40%;

                &:not(:last-child) {
                    margin-bottom: 10%;
                    //background-color: #7CDFFF;
                }
            }
            .hr {
                width: 1px;
                //border-top: 10px;
                border: 1px solid transparent;
                height: 50px;
                background-color: transparent;
                margin: 0px 75px 10px;
                align-items: center;
                &:last-of-type {
                    display: none;
                }
            }
            img {
                width: 100%;
                //width: 10em;
            }
        }

        .block-game-description {
            border: 1px solid black;
            width: 70%;
            padding: 10px;

            .game-title-row {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                border: 1px solid black;
                
            }

            .game-trailer-row {
                width: 80%;
                border: 1px solid black;
                margin: 10px auto;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .game-arg-row {
                padding: 15px;
                border: 1px solid black;
                
            }
        }
    }

   
}






//PANTALLA GRANDE
@media screen and (max-width: 1100px) {
    .main-content {
        .block-entradas {
            .entrada {
                align-items: center;

                .entrada-titulo {
                    width: 90%;
                    text-align: center;

                }

                .entrada-texto {
                    width: 90%;
                    overflow: auto;
                    height: 12em;
                }
            }

        }
    }


}

//PANTALLA MEDIANA
@media screen and (max-width: 800px) {
    .main-content {
        .block-entradas {
            .entrada {
                align-items: center;

                .entrada-titulo {
                    width: 90%;
                    text-align: center;
                    flex-direction: column;
                }

                .entrada-texto {
                    width: 90%;
                    overflow: auto;
                    height: 15em;
                }
            }

        }

    }


}

//PANTALLA PEQUEÑA
@media screen and (max-width: 400px) {}